* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 20px auto;
  border: 12px solid rgb(229, 229, 229);
  border-radius: 30px;
  padding: 20px;
  max-width: 400px;
  background-color: #f9f9f9;
}

.title {
  text-align: center;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-section-item {
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  width: 80%;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.input-section-item:focus {
  border-color: #007BFF;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.input-section-item:hover {
  border-color: #71b5ff;
}

.input-section-item::placeholder {
  color: #888;
  font-style: italic;
}

.statusPng {
  max-width: 30px;
  max-height: 30px;
  display: block;
  margin: 5px auto;
}

.todo-section {
  font-size: 18px;
}

.todo-item {
  border: 1px solid #ccc;
  background-color: #ffffff;
  margin: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.todo-item span {
  user-select: none;
  flex-grow: 1;
  max-width: 250px;
  overflow: hidden;
  word-wrap: break-word;
  display: block;
  font-size: 16px;
  line-height: 1.4;
}

input[type="checkbox"] {
  transform: scale(1.5);
  cursor: pointer;
}

.todo-activity {
  cursor: pointer;
  padding: 6px 10px;
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 20px;
}

.todo-activity:hover {
  background-color: darkred;
}
