.console-container {
  width: 100%;
  max-width: 600px;
  height: 300px;
  background-color: #1e1e1e;
  color: rgb(112, 113, 112);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(34, 255, 0, 0.3);
  font-family: 'Courier New', monospace;
  border: 2px solid rgb(255, 255, 255);
}

.console-log {
  flex-grow: 1;
  overflow-y:auto;
  padding: 5px;
  border: 1px solid #444;
  background-color: #111;
  max-height: 240px;
}

.console-message {
  font-size: 14px;
  padding: 2px;
  white-space: pre-wrap;
}

.console-input {
  background-color: #333;
  border: 1px solid #555;
  color: rgb(255, 255, 255);
  padding: 8px;
  font-family: 'Courier New', monospace;
  font-size: 14px;
  outline: none;
  width: 100%;
  box-shadow: inset 0 0 5px rgba(59, 57, 6, 0.3);
}

.console-input::placeholder {
  color: #888;
}
